@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
:root{
    --fontDefault:'Roboto', sans-serif;
    --fontDescription:'Noto Sans',sans-serif;
    --clr0:#979F5E;
    --clr1:#46495C;
    --clr2:#132320;
    --clr3:#B7FF7E;
    --clr4:#67D47F;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background:#222327;
    position: relative;
    font-family: var(--fontDefault);
}
div.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
div.formBox{
    display: flex;
    background-image: linear-gradient(to bottom, #67D47F, #B7FF7E);
    width: 400px;
    height: 500px;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0 0 50px 20px #b8ff7e2f;
}
div.preForm{
    position: relative;
    background: #edf1ea;
    width: 90%;
    height: 90%;
    border-radius: 20px;
}
div > form{
    position: relative;
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
div.password{
padding: 10px;
}
div.email>input{
    padding: 15px 10px;
    width: 290px;
    border-radius: 10px 15px;
    border: solid 2px black;
}
div.password>input{
    padding: 15px 10px;
    width: 290px;
    border-radius: 10px 15px;
    border: solid 2px black;
}
div.btn{
    padding: 10px;
}

div.btn>a>button{
    position: relative;
    padding: 10px 100px;
    border-radius: 10px 15px;
    cursor: pointer;
    color: white;
    border: none;
    background: var(--clr3);
    font-size: 1.4em;
    font-weight: bold;
    transition: all 1s ease 0s;

}
div.btn>a>button:hover{

    color: var(--clr3);

    background: white;
    border: 1px solid black;

}
div.btn>a>{

}
div.signup{
    position: relative;
    display: flex;
    text-align: center;
}
div.signup>a{
    color: var(--clr4);
}
